# SPDX-FileContributor: Arthit Suriyawongkul
# SPDX-FileCopyrightText: 2026 Joshua Watt
# SPDX-FileType: SOURCE
# SPDX-License-Identifier: MIT
#
# Shared Jinja macros for the Python templates.
{% macro class_docstring(comment) %}
    {{ '"' }}{{ '"' }}{{ '"' }}
    {%- for l in comment.split("\n") %}
    {{ l.rstrip() }}
    {%- endfor %}
    {{ '"' }}{{ '"' }}{{ '"' }}
{%- endmacro %}

{#- Names the package re-exports from .model (rdflib-only names excluded). #}
{% macro package_all(include_main, noqa="") %}
__all__ = [{{ noqa }}
    "AnyURIProp",
    "BooleanProp",
    "CONTEXT_URLS",
    "ClassProp",
    "DataPath",
    "DateTimeProp",
    "DateTimeStampProp",
    "DecodeError",
    "DecodeState",
    "Decoder",
    "EncodeError",
    "EncodeState",
    "Encoder",
    "EnumProp",
    "FloatProp",
    "IRIProp",
    "IntegerProp",
    "JSONLDDecoder",
    "JSONLDDeserializer",
    "JSONLDEncoder",
    "JSONLDInlineEncoder",
    "JSONLDInlineSerializer",
    "JSONLDSerializer",
    "ListProp",
    "ListProxy",
    "NodeKind",
    "NonNegativeIntegerProp",
    "ObjectProp",
    "Ontology",
    "PathError",
    "PositiveIntegerProp",
    "Property",
    "SHACLExtensibleObject",
    "SHACLObject",
    "SHACLObjectMeta",
    "SHACLObjectSet",
    "StringProp",
    "T_PropV",
    "T_SHACLObject",
    "ValidationError",
    "check_type",
    "decode_context",
    "encode_context",
    "is_IRI",
    "is_blank_node",
{%- if version_str %}
    "VERSION_STRING",
{%- endif %}
{%- if version %}
    "VERSION",
{%- endif %}
{%- for o in ontologies %}
    "{{ varname(o.name).upper() }}",
{%- endfor %}
{%- for class in classes %}
    "{{ varname(*class.clsname) }}",
{%- endfor %}
{%- if include_main %}
    "main",
{%- endif %}
]
{%- endmacro %}
